.worker-form {
  padding: 30px 20px;
  max-width: 800px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 22px;

  .file-upload {
    width: 200px;
  }

  .submit-button {
    width: 120px;
    margin-left: auto;
  }

  p.alert {
    color: red;
  }
}